{% extends 'base.html' %}
{% load static %}
{% block title %}about{% endblock %}
{% block content %}
<!-- Page Header Start -->
{% comment %} <div class="container-fluid page-header mb-5">
    <div class="container">
        <h1 class="display-3 mb-4">About</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div> {% endcomment %}
<!-- Page Header End -->
<div class="container">
    <div class="col-lg-6">
        <p class="d-inline-block border rounded text-danger fw-semi-bold py-1 px-3">About Us</p>
        <h1 class="display-5 mb-4">We Help Our Clients To Grow Their Business</h1>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
            eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
        </p>
</div>
</div>

<!-- about section start -->

<!-- about section end -->
{% endblock %}